@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

header {
  display: flex;
  justify-content: space-between;
}

.welcome {
  margin-top: 4px;
  margin-left: 6px;
}

.menu {
  margin-top: 15px;
  margin-right: 6px;
  justify-content: space-around;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.block-column {
  display: block;
  flex-direction: column;
}

.div1 {
  text-align: center;
  justify-content: space-around;
  padding: 5px;
  margin-right: 20px;
  margin-left: 20px;
}

.div2 {
  text-align: center;
  justify-content: space-around;
  padding: 5px;
  background-position: bottom right;
  background-image: url("images/SVG/Frame\ \(1\).svg");
  background-repeat: no-repeat;
}

.item {
  background: #fff;
  border-radius: 8px;
  height: 222px;
  text-align: center;
  justify-content: space-around;
}

.item2 {
  text-align: center;
  align-content: center;
  justify-content: center;
}

.title {
  background-image: url("images/SVG/header-illsutration-mobile.svg");
  background-position: center center;
  background-size: cover;
}

.title1 {
  background-position: top -15px right;
  background-image: url("images/SVG/illustration\ 1-\ about\ me-mobile.svg");
  background-repeat: no-repeat;
}

.title2 {
  text-align: center;
  justify-content: space-around;
  padding: 5px;
  background-position: top left;
  background-image: url("images/SVG/Frame.svg");
  background-repeat: no-repeat;
}

.title3 {
  text-align: center;
  justify-content: space-around;
  padding: 5px;
}

h1 {
  padding-top: 45px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  align-content: center;
}

h2 {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  align-content: center;
  align-self: center;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.color1 {
  color: #172b4d;
}

.color2 {
  color: #36b37e;
}

p {
  padding: 0 15px 0 15px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  align-self: center;
  color: #172b4d;
}

.hicon {
  color: transparent;
  background-color: transparent;
  border: 0;
}

.socials {
  width: 160px;
  height: 64px;
  margin: 0 110px 0 110px;
  line-height: 28px;
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.socials2 {
  width: 160px;
  margin: 40px 110px 0 110px;
  line-height: 28px;
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.container {
  height: 474px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  display: grid;
  grid-template-rows: 252px 89px;
}

.container2 {
  height: 352px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  align-items: center;
}

.skills {
  margin: 0;
  width: auto;
  height: 32px;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skills2 {
  padding: 0 2px 0 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.action {
  color: transparent;
  background-color: transparent;
  border: 0;
  margin: 60px 25px 0 25px;
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.button {
  padding: 16px;
}

.button-interact {
  width: fit-content;
  height: 48px;
  padding: 12px;
  border: 0;
  background: #36b37f;
  color: #fff;
  border-radius: 4px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.button-interact:hover {
  width: fit-content;
  height: 48px;
  border: 0;
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  color: #fff;
  border-radius: 4px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.button-interact:active {
  width: fit-content;
  height: 48px;
  border: 0;
  background: #008552;
  color: #fff;
  border-radius: 4px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.skills1 {
  width: fit-content;
  height: 16px;
  padding: 8px 12px;
  margin: 0;
  background: #ebf0ee;
  border-radius: 4px;
  color: #3a4a42;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.skills3 {
  width: fit-content;
  height: 16px;
  padding: 8px 12px;
  margin: 0;
  background: #fff;
  border-radius: 4px;
  color: #36b37e;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

h3 {
  margin: 0;
  padding: 16px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
}

.icon-skills {
  margin-top: 30px;
}

.snapshoot {
  width: fit-content;
  align-self: center;
}

#contact-form {
  text-align: center;
  justify-content: center;
}

.input-fields {
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  padding: 8px 16px 8px 16px;
  margin: 12px 0 12px 0;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  height: 33px;
  width: 287px;
}

.input-fields::placeholder {
  color: #6b778c;
}

.input-textarea {
  border: 1px solid #60c095;
  border-radius: 4px;
  padding: 8px 16px 8px 16px;
  margin: 12px 0 20px 0;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width: 287px;
  height: 114px;
}

.input-textarea::placeholder {
  color: #091e42;
}

.h3email {
  margin: 0;
  padding: 16px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
}

.hrstyling {
  border: #36b37e;
  background-color: #36b37e;
  border-radius: 4px;
  width: 48px;
  height: 4px;
  align-self: center;
}

.hrstyling2 {
  color: black;
  background-color: black;
  border-radius: 4px;
  margin-top: 150px;
  width: 130px;
  height: 4px;
  align-self: center;
}
