@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

header {
  display: flex;
  justify-content: space-between;
}

.welcome {
  margin-top: 4px;
  margin-left: 6px;
}

.menu {
  margin-top: 15px;
  margin-right: 6px;
  justify-content: space-around;
}

.div1 {
  display: flex;
  flex-direction: column;
  border: 1px red solid;
}

.item {
  background: #fff;
  border-radius: 8px;
  height: 222px;
  display: block;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

.title {
  background-image: url("images/SVG/header-illsutration-mobile.svg");
  background-position: center center;
  background-size: cover;
}

h1 {
  padding-top: 45px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  align-content: center;
}

h2 {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  align-content: center;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.title1 {
  color: #172b4d;
}

.title2 {
  color: #36b37e;
}

p {
  padding: 0 15px 0 15px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  align-self: center;
  color: #172b4d;
}

.hicon {
  color: transparent;
  background-color: transparent;
  border: 0;
}

.socials {
  width: 160px;
  height: 64px;
  margin: 0 110px 0 110px;
  line-height: 28px;
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.container {
  border: 1px red solid;
  height: 474px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #ebf0ee;

  /* border: 1px solid #D0D9D4; */
  border-radius: 8px;
  display: grid;
  grid-template-rows: 252px 89px;
}

.skills {
  margin: 0;
  width: auto;
  height: 32px;
  line-height: 16px;
  display: flex;
  justify-content: space-evenly;
}

.action {
  color: transparent;
  background-color: transparent;
  border: 0;
  margin: 60px 25px 0 25px;
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.greenseparator {
  width: 48px;
  height: 4px;
  align-self: center;
}

.button {
  padding: 16px;
}

.seeproject {
  width: 122px;
  height: 48px;
  padding: 12px;
  border: 0;
  background: #36b37f;
  color: #fff;
  border-radius: 4px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.seeproject:hover {
  width: 122px;
  height: 48px;
  border: 0;
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  color: #fff;
  border-radius: 4px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.seeproject:active {
  width: 122px;
  height: 48px;
  border: 0;
  background: #008552;
  color: #fff;
  border-radius: 4px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.skills1 {
  width: fit-content;
  height: 16px;
  padding: 8px 12px;
  margin: 0;
  background: #ebf0ee;
  border-radius: 4px;
  color: #3a4a42;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

h3 {
  margin: 0;
  padding: 16px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
}
